<div class="table-responsive">
    <table class="table table-condensed" id="{{id}}">
        <thead>
            <tr>
                <th data-name="login" data-searchable="true" data-orderable="true">Login</th>
                <th data-name="name" data-searchable="true" data-orderable="true">Name</th>
                <th data-name="surname" data-searchable="true" data-orderable="true">Surname</th>
                <th data-name="email" data-searchable="true" data-orderable="true">Email</th>
            </tr>
        </thead>
    </table>
</div>