{{#if comments}}
    <div class="panel panel-default">
        <div class="panel-body">
            {{#each comments}}
                {{log this}}
                {{>commentEntry comment=this}}
            {{/each}}
        </div>
    </div>
{{/if}}
