{{#if comments}}
    <div class="panel panel-default">
        <div class="panel-body">
            {{#each comments}}
                {{>commentEntry comment=this}}
            {{/each}}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('div.comment-todo').each(function(index) {
                var commentId = $(this).attr('data-comment-id');

                $(this).on('click', function(e) {
                    $.ajax({
                        method: 'POST',
                        data: {
                            '_id' : commentId,
                            'status': 'done',
                        },
                        url: '/comment/status',
                        success: function(data) {
                            if(data.status === 'success') {
                                $('div#label-todo-' + commentId).hide();
                                $('div#label-done-' + commentId).show();
                                $('div#children-' + commentId).hide();
                                $('button#show-hidden-comments-' + commentId).show();
                                $('button#reply-' + commentId).hide();
                            }
                        }
                    });
                });
            });
        });
    </script>
{{/if}}
