<div class="container">
    <h2>Active tasks</h2>
    <p>
        <button onclick="window.document.location='/task/new'" class="btn btn-lg btn-primary">Add new</button>
    </p>
    {{>taskGrid tasks=todo id='todoTasks'}}
    <h2>Done tasks</h2>
    {{>taskGrid tasks=done id='doneTasks'}}
    <script>

    </script>
</div>
