<div class="container">
    <h2>Task list</h2>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#active-tasks" aria-controls="active-tasks" role="tab" data-toggle="tab">Active tasks</a></li>
            <li role="presentation"><a href="#done-tasks" aria-controls="done-tasks" role="tab" data-toggle="tab">Done tasks</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="active-tasks">
                <h3>Active tasks</h3>
                <button onclick="window.document.location='/task/new'" class="btn btn-lg btn-primary">Add new</button>
                {{>taskGrid tasks=todo id='todoTasks'}}
            </div>
            <div role="tabpanel" class="tab-pane" id="done-tasks">
                <h3>Done tasks</h3>
                {{>taskGrid tasks=done id='doneTasks'}}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#todoTasks').DataTable({
            processing: true,
            serverSide: true,
            dom: '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
            sPaginationType: "full_numbers",
            lengthMenu: [[10, 30, 50, 100], [10, 30, 50, 100]],
            order: [[10, "desc"]],
            pageLength: 30,
            ajax: {
                url: "/task/grid",
                type: "POST",
                data: function (d) {
                    d.status = "1,3";
                },
            },
            columns : [
                {
                    data: "title",
                    render: function ( data, type, full, meta ) {
                        return '<a href="/task/edit/' + full._id + '">' + data + '</a>';
                    }
                },
                {
                    data: "status",
                },
                { data: "rank" },
                {
                    data: "important"
                },
                {
                    data: "important",
                    render: function ( data, type, full, meta ) {
                        return '<img src="images/superman.mono.webp">';
                    }
                },
                {
                    data: "content",
                    render: function ( data, type, full, meta ) {
                        return data.substring(0,40) + "...";
                    }
                },
                {
                    data: "author.name",
                    render: function ( data, type, row ) {
                        return data + ' ' + row.author.surname;
                    }
                },
                {
                    data: "assignee.name",
                    render: function ( data, type, row ) {
                        return data + ' ' + row.assignee.surname;
                    }
                },
                {
                    data: "comments",
                    render:  function ( data, type, row ) {
                        return data.length;
                    }
                },
                {
                    data: "createdAt",
                    render: function ( data, type, full, meta ) {
                        return '{{{dateYmdHis data}}}';
                    }
                },
                {
                    data: "updatedAt",
                    render: function (data, type, full, meta) {
                        return '{{{dateYmdHis data}}}';
                    }
                },
            ]
        });

        $('#doneTasks').DataTable({
            processing: true,
            serverSide: true,
            dom: '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>',
            sPaginationType: "full_numbers",
            lengthMenu: [[10, 30, 50, 100], [10, 30, 50, 100]],
            order: [[10, "desc"]],
            pageLength: 30,
            ajax: {
                url: "/task/grid",
                type: "POST",
                data: function (d) {
                    d.status = "2";
                },
            },
            columns : [
                {
                    data: "title",
                    render: function ( data, type, full, meta ) {
                        return '<a href="/task/edit/' + full._id + '">' + data + '</a>';
                    }
                },
                {
                    data: "status",
                },
                { data: "rank"},
                { data: "important"},
                {
                    data: "important",
                    render: function ( data, type, full, meta ) {
                        return '<img src="images/superman.mono.webp">';
                    }
                },
                {
                    data: "content",
                    render: function ( data, type, full, meta ) {
                        return data.substring(0,40) + "...";
                    }
                },
                {
                    data: "author.name",
                    render: function ( data, type, row ) {
                        return data + ' ' + row.author.surname;
                    }
                },
                {
                    data: "assignee.name",
                    render: function ( data, type, row ) {
                        return data + ' ' + row.assignee.surname;
                    }
                },
                {
                    data: "comments",
                    render:  function ( data, type, row ) {
                        return data.length;
                    }
                },
                {
                    data: "createdAt",
                    render: function ( data, type, full, meta ) {
                        return '{{{dateYmdHis data}}}';
                    }
                },
                {
                    data: "updatedAt",
                    render: function (data, type, full, meta) {
                        return '{{{dateYmdHis data}}}';
                    }
                },
            ]
        });

    } );
</script>
