<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/task/index.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    </head>
    <body>
        {{> topMenu }}
        <div class="container">
            <div class="row">
        {{{body}}}
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Bug tracker v0.1 2017</p>
            </div>
        </footer>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>
        <script src="/javascripts/custom.js"></script>
    </body>
</html>
