<table class="table-sortable" id="#{{id}}">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Rank</th>
            <th>[!!!]</th>
            <th>SEB</th>
            <th>Title</th>
            <th>Brief</th>
            <th>From</th>
            <th>For</th>
            <th>Posts</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
</table>