<div class="table-responsive">
    <table class="table table-condensed" id="{{id}}">
        <thead>
            <tr>
                <th data-name="title" data-searchable="true" data-orderable="true">Title</th>
                <th data-name="status" data-searchable="false" data-orderable="false">Status</th>
                <th data-name="rank" data-searchable="false" data-orderable="false">Rank</th>
                <th data-name="important" data-searchable="false" data-orderable="false">Importance</th>
                <th data-name="important" data-searchable="false" data-orderable="false">SEB</th>
                <th data-name="content" data-searchable="true" data-orderable="true">Brief</th>
                <th data-name="author" data-searchable="true" data-orderable="false">From</th>
                <th data-name="assignee" data-searchable="true" data-orderable="false">For</th>
                <th data-name="posts" data-searchable="false" data-orderable="false">Posts</th>
                <th data-name="createdAt" data-searchable="false" data-orderable="true">Created</th>
                <th data-name="updatedAt" data-searchable="false" data-orderable="true">Updated</th>
            </tr>
        </thead>
    </table>
</div>