<navigation></navigation>
<div class="container-fluid">
    <h1 class="page-header">Tasks
        <small>({{totalItems}})</small>
    </h1>

    <div class="btn-group form-group">
        <button class="btn btn-default"
                [ngClass]="{'btn-success' : status._id === filters.status}"
                (click)="setFilter('status', status._id); setFilter('page', 1); getTasks();"
                *ngFor="let status of taskStatuses">
            {{status.name}}
        </button>
    </div>

    <p-paginator rows="{{filters.perPage}}" totalRecords="{{totalItems}}" [rowsPerPageOptions]="[25,50,100]"
                 (onPageChange)="getTasks($event);"></p-paginator>

    <div class="table-responsive task-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Rank</th>
                <th>Importance</th>
                <th>SEB</th>
                <th>From</th>
                <th>Posts</th>
                <th>Created</th>
                <th>Updated</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="tasks.length">
                <tr *ngFor="let task of tasks">
                    <td>
                        <span (click)="showTask(task._id);" class="link">
                            {{task.title}}
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!task.showStatusChange" (click)="task.showStatusChange = !task.showStatusChange;">
                            {{task.status.name}}
                        </span>
                        <span *ngIf="task.showStatusChange">
                            <div class="input-group">
                                <select class="form-control" [(ngModel)]="task.status._id">
                                    <option *ngFor="let status of taskStatuses" value="{{status._id}}">
                                        {{status.name}}
                                    </option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-xs"
                                            (click)="updateTask({status : task.status}, task._id)">
                                        <i class="fa fa-save"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </td>
                    <td>{{task.rank}}</td>
                    <td>{{task.importance.name}}</td>
                    <td>
                        <div class="seb" [ngClass]="{'seb-active' : task.seb}"></div>
                    </td>
                    <td>
                        {{task.author.name}}
                    </td>
                    <td></td>
                    <td>{{task.createdAt | date: 'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{task.updatedAt | date: 'yyyy-MM-dd hh:mm'}}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="tasks.length === 0">
                <tr>
                    <td colspan="99" class="text-center">No tasks</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
    <p-paginator rows="{{filters.perPage}}" totalRecords="{{totalItems}}" [rowsPerPageOptions]="[25,50,100]"
                 (onPageChange)="getTasks($event);"></p-paginator>
</div>
