{{json message}}
{{#if message}}
    {{#if message.errors}}
        <ul id="error-list" class="alert alert-danger">
            {{#each message.errors}}
                <li class="entry">{{{this.message}}}</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if message.success}}
        <div id="success-list" class="alert alert-success">
             {{#each message.success as |value key|}}
                <span class="entry">{{value}}</span>
            {{/each}}
        </div>
    {{/if}}
{{/if}}
