{{#if errors}}
    <div id="error-list" class="alert alert-danger">
        {{#each errors as |value key|}}
            {{#each value as |errorValue errorKey|}}
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <span class="entry">{{{errorValue.message}}}</span><br/>
            {{/each}}
        {{/each}}
    </div>
{{/if}}
